---
layout: page
permalink: /arquivo/
title: Arquivo
---

<div class="listagem-posts">
	<p>Esta página exibe todos os posts do blog, separados por tipo/assunto. Para encontrar algum específico, pesquise a página — em computadores, <code>Ctrl + F</code> ou <code>⌘ + F</code> (macOS).</p>
	{% for category in site.categories %}
		{% capture category_name %}{{ category | first }}{% endcapture %}

		<h2 id="{{ category_name | slugize }}" class="category-head">{{ category_name }}</h2>
		<ul>
			{% for post in site.categories[category_name] %}
			<li><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></li>
			{% endfor %}
		</ul>

	{% endfor %}
</div>
