  <footer>
    <p><img src="{{ site.baseurl }}/assets/foto-perfil.jpg" alt="Rodrigo Ghedin"/><a href="/sobre">Rodrigo Ghedin</a> é comunicólogo e jornalista. Escreve o <a href="https://manualdousuario.net/">Manual do Usuário</a>, um blog de tecnologia diferente.</p>

    <p><a href="{{ "/feed.xml" | relative_url }}">RSS</a> | <a href="https://newsletter.ghed.in">Newsletter</a> | <a rel="me" href="https://masto.donte.com.br/@ghedin" target="_blank">Mastodon</a> | <a href="mailto:rodrigo@ghed.in">Contato</a></p>
  </footer>

</div>
