  <footer>
    <p><img src="{{ site.baseurl }}/assets/foto-perfil.jpg" alt="Rodrigo Ghedin"/>Rodrigo Ghedin é comunicólogo e jornalista. Escreve o <a href="https://manualdousuario.net/"><em>Manual do Usuário</em></a>, um blog de tecnologia diferente.</p>

    <p><!-- <a href="/">Início</a> | --><a href="/sobre">Sobre</a> | <a href="{{ "/feed.xml" | relative_url }}">RSS</a> | <a href="https://newsletter.ghed.in>Newsletter</a> | <a href="mailto:rodrigo@ghed.in">Contato</a> <img alt="Clicky" width="1" height="1" style="width: 1px; height: 1px" src="//in.getclicky.com/101047668ns.gif" /></p>
  </footer>

</div>
