  <footer>
    <p><img src="{{ site.baseurl }}/assets/foto-perfil-2021.jpg" alt="Rodrigo Ghedin"/><br /><a href="https://rodrigo.ghed.in/">Rodrigo Ghedin</a> é comunicólogo e jornalista. Escreve o <a href="https://manualdousuario.net/">Manual do Usuário</a>, um blog de tecnologia diferente.</p>

    <p><a href="/sobre">Sobre</a> | <a href="https://newsletter.ghed.in">Newsletter</a> | <a href="mailto:rodrigo@ghed.in">Contato</a> | <a href="{{ "/feed.xml" | relative_url }}">RSS</a></p>

    <p>&copy; 2005–2021</p>
  </footer>

</div>
