<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "pt-br" }}">

  {% include head.html %}

<body class="single">

  <div id="container">
      <header>
        <h2 class="title"><a href="{{ "/" | relative_url}}">Excertos</a></h2><p class="sub-title">por Rodrigo Ghedin</p>
			</header>

					<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

						<h1>{{ page.title | escape }}</h1>

						<div class="entry">
							{{ content }}
						</div>

					</article>

		{% include footer.html %}
