---
layout: default
---
		<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

			<h1>{{ page.title | escape }}</h1>

			<div class="entry">
				{{ content }}
			</div>

			<p>Publicado em<br /><a href="{{ post.url | relative_url }}">{{ page.date | date: "%-d %b %Y" }}</a></p>

		</article>

		<div style="background-color: rgba(255, 255, 0, 0.22); padding: 25px; margin-bottom: 100px;font-family: sans-serif;font-size: 75%">
			<h3><img src="/assets/excertos.png" alt="Excertos" style="width: 128px; height: auto" /></h3>
			<p style="line-height: 22px;margin: 4px 0 12px">Assine minha newsletter e receba os posts e alguns comentários esporádicos por e-mail:</p>

			<!-- Begin MailChimp Signup Form -->
			<div id="mc_embed_signup">
			<form action="//posterous.us1.list-manage.com/subscribe/post?u=8a5a273df8236e1aa4ccdf555&amp;id=fbb0212e02" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			    <div id="mc_embed_signup_scroll">

			<div class="mc-field-group">
				<label style="width: 80px; display: inline-block" for="mce-EMAIL">E-mail<span class="asterisk" style="color: red">*</span>
			</label>
				<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
			</div>
			<div class="mc-field-group">
				<label style="width: 80px; display: inline-block" for="mce-FNAME">Nome </label>
				<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
			</div>
			<div class="mc-field-group">
				<label style="width: 80px; display: inline-block" for="mce-LNAME">Sobrenome </label>
				<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
			</div>
				<div id="mce-responses" class="clear">
					<div class="response" id="mce-error-response" style="display:none"></div>
					<div class="response" id="mce-success-response" style="display:none"></div>
				</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8a5a273df8236e1aa4ccdf555_fbb0212e02" tabindex="-1" value=""></div>
			    <div class="clear"><input type="submit" value="Assinar" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
			    </div>
			</form>
			</div>

			<!--End mc_embed_signup-->

		</div>

		<div class="pagination">
		  {% if page.previous.url %}
		    <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
		  {% endif %}
		  {% if page.next.url %}
		    <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
		  {% endif %}
		</div>
